.dashboard-header {
  grid-area: header;
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid var(--joy-palette-neutral-300, #cdd7e1);
}

.header-content {
  width: calc(100% - var(--sidebar-width));
  height: 100%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  padding: 0 32px;
}
