.dashboard-grid {
  --header-hight: 60px;
  --sidebar-width: 250px;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  min-height: 100vh;
}

main {
  grid-area: main;
}
