.progress-track {
  width: 10px;
  height: 100%;
  background-color: #cccccc5f;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 4px 0;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.progress-track:hover {
  opacity: 1;
}

.progress-fill {
  width: 5px;
  height: var(--fillValue);
  background-color: var(--fillColor);
  border-radius: 1rem;
}
