.main-grid {
  display: grid;
  grid-template-columns: 1fr 300px;
  width: 100%;
  height: 100%;
  gap: 32px;
  padding: 16px;
}

.visual-cont__charts {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  width: 100%;
  gap: 16px;
  margin-bottom: 32px;
}

.visual-cont__charts > * {
  height: inherit;
  overflow: hidden;
}

.food-log {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.food-log__add-food {
  grid-column: 1 / 8;
}

.food-log__logged-food {
  grid-column: -1 / 8;
}
